<div class="container-fluid">
  <div class="row">
    <h1 class="text-center">Contact Book</h1>
  </div>
  <div class="row"><button class="btn btn-info col-lg-offset-11" data-toggle="modal" data-target="#trashModal">Trash</button></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td> 
          <span (click)="changeFilterBy('id')">ID</span>
          <span (click)="toggleReverse()" class="dropdown">
            <i class="caret"></i>
          </span>
        </td>
        <td> 
            <span (click)="changeFilterBy('firstName')">First Name</span>
            <span (click)="toggleReverse()" class="dropdown">
              <i class="caret"></i>
            </span>
        </td>
        <td>
            <span (click)="changeFilterBy('lastName')">Last Name</span>
            <span (click)="toggleReverse()" class="dropdown">
              <i class="caret"></i>
            </span>
        </td>
        <td>
            <span (click)="changeFilterBy('email')">Email</span>
            <span (click)="toggleReverse()" class="dropdown">
              <i class="caret"></i>
            </span>
        </td>
        <td>Phone</td>
        <td>Tags</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of (contacts | reverse: isReverse | alphabetical: filterBy)"> 
        <ng-container>
          <td>{{ contact.id }}</td>
          <td>{{ contact.firstName }}</td>
          <td>{{ contact.lastName }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.phone }}</td>
          <td><span class="badge tag" *ngFor="let tag of contact.tags" (click)="getContacts(tag)">{{ tag }}</span></td>
          <td><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal" (click)="getEditedContact(contact)"></button></td>
          <td><button class="btn btn-danger" type="button" (click)="toggleDeletedContact(contact)">Delete</button></td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Edit {{ editedContact.firstName }} {{ editedContact.lastName }}</h4>
      </div>
      <div class="modal-body">
    
            <div class="modal fade" id="trashModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="trashModalLabel">Trash</h4>
                  </div>
                  <div class="modal-body">
                    <ul class="list-group">
                     <table class="table table-striped">
                       <thead>
                         <tr>
                           <td>Name</td>
                           <td>Delete</td>
                         </tr>
                       </thead>
                       <tbody>
                         <tr *ngFor="let deletedContact of contacts">
                           <ng-container *ngIf="deletedContact.isDeleted">
                             <td>{{ deletedContact.name }}</td>
                             <td>
                               <button class="btn btn-warning" (click)="deleteContact(deletedContact)">Delete</button>
                             </td>
                           </ng-container>
                         </tr>
                       </tbody>
                     </table> 
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-primary" data-dismiss="modal">Save</button>
          
      </div>
    </div>
  </div>
</div>
