<div class="container">
  <div class="row">
    <h1 class="text-center">Heroes and Villians</h1>
  </div>
  <div class="row filter-toggle">
    <div class="btn-group" role="group">
      <button class="btn btn-default" [ngClass]="{ 'active': filterIsActive('hero') }" (click)="updateFilter('hero')">Hero</button>
      <button class="btn btn-default" [ngClass]="{ 'active': filterIsActive('all') }" (click)="updateFilter('all')">All</button>
      <button class="btn btn-default" [ngClass]="{ 'active': filterIsActive('villian') }" (click)="updateFilter('villian')">Villian</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4" *ngFor="let hero of heroes">
    <div class="heroBox"[ngClass]="{ 'hero': hero.hero, 'villian': !hero.hero }">
      <h1 class="text-center">{{ hero.name }}</h1>
      <a class="btn btn-info center-button" [routerLink]="['/hero/', hero.id]">View</a>
    </div>
  </div>
</div>